# This is an example file. Copy it to .env and fill in the values.
# DO NOT commit the .env file to GIT.

# PostgreSQL Database
POSTGRES_USER=coworking_user
POSTGRES_PASSWORD=strong_password_change_me
POSTGRES_DB=coworking_db

# Backend API Secret Key
SECRET_KEY=a_very_secret_key_for_development

# pgAdmin Credentials
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin